<header>
  <div>
    <h1>Arjun R Bharadwaj's Portfolio</h1>
    <img src="assets/images/ProfessionPic.jpg" alt="Arjun's Picture" />
    <p>
      Driven and detail-oriented aspiring programmer with a strong aptitude for
      rapid learning and innovative problem-solving. Eager to leverage technical
      skills and analytical abilities to contribute effectively as an automation
      tester, ensuring high-quality software delivery and continuous
      improvement. Committed to organizational excellence and personal growth
      through dedicated work and proactive collaboration.
    </p>
  </div>
</header>

