header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90%;
    margin: 0 auto 2rem auto;
    text-align: center;
    background: linear-gradient(
      135deg,
      #D8E983
    );
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  }
  
  img {
    width: 12%;
    height: 100%;
    /* margin: 50px; */
    /* object-fit: contain; */
    border-radius: 50%;
    background-size: cover;
    size: 500px;
  }
  
  h1 {
    font-size: 30rem;
    margin: 0;
    padding-bottom: 3rem;
  }
  
  p {
    margin: 0;
    font-size: 1.5rem;
    padding-top: 4rem;
    text-wrap: justify;
  }
  
  @media (min-width: 768px) {
    header {
      padding: 2rem;
    }
  
    /* img {
       width: 4.5rem; 
    } */
  
    h1 {
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
    }
  }