<app-header />
<main>
  <section id="title">
    <section id="mycareer">
      <div class="career-heading">
        <h2 class="container-fluid">My Career</h2>
      </div>
      <hr />
      <div class="career-heading">
        <h2 class="container-fluid">Education Career</h2>
        <h3 class="container-fluid">(Hover for more details)</h3>
        <div class="row1">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="assets/images/stacks-image-035f7ca.png"
                  alt="SIT College"
                />
              </div>
              <div class="flip-card-back">
                <p class="flip-card-back-text">B.E (Chemical Engineering)</p>
                <p class="flip-card-back-text">7.66(69.1%) CGPA</p>
              </div>
            </div>
          </div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/images/SPUC.jpeg" alt="SPUC College" />
              </div>
              <div class="flip-card-back">
                <p class="flip-card-back-text">
                  Combination: PCME (Physics, Chemistry, Mathematics, and
                  Electronics)
                </p>
                <p class="flip-card-back-text">68.8%</p>
              </div>
            </div>
          </div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="assets/images/images.jpeg"
                  alt="Bishop Sargent logo"
                />
              </div>
              <div class="flip-card-back">
                <p class="flip-card-back-text">10th ICSE Syllabus</p>
                <p class="flip-card-back-text">61.5%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="career-heading">
        <h2 class="container-fluid">Professional Career</h2>
        <h3 class="container-fluid">(Hover or click for more details)</h3>
        <div class="row2">
          <div class="flip-card">
            <button class="flip-card-button" (click)="openPrayaghPopup()">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img
                    src="assets/images/Prayagh.jpeg"
                    alt="Prayagh Nutri-products logo"
                  />
                </div>
                <div class="flip-card-back">
                  <p class="flip-card-back-text">Production in-charge</p>
                  <p class="flip-card-back-text">February 2016 to March 2017</p>
                </div>
              </div>
            </button>
          </div>
          <div class="flip-card">
            <button class="flip-card-button" (click)="openATSPopup()">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/AT&S_Logo.svg.png" alt="AT&S logo" />
                </div>
                <div class="flip-card-back">
                  <p class="flip-card-back-text">Process quality engineer</p>
                  <p class="flip-card-back-text">May 2017 to August 2018</p>
                </div>
              </div>
            </button>
          </div>
          <div class="flip-card">
            <button class="flip-card-button" (click)="openDXCPopup()">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img
                    src="assets/images/DXCTech.png"
                    alt="DXC Technology logo"
                  />
                </div>
                <div class="flip-card-back">
                  <p class="flip-card-back-text">Technical Support Engineer</p>
                  <p class="flip-card-back-text">November 2018 to April 2020</p>
                </div>
              </div>
            </button>
          </div>
          <div class="flip-card">
            <button class="flip-card-button" (click)="openEpicorPopup()">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/Epicor-logo.png" alt="Epicor Logo" />
                </div>
                <div class="flip-card-back">
                  <p class="flip-card-back-text">Technical Application Specialist, Sr</p>
                  <p class="flip-card-back-text">April 2020 to present</p>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>

<!-- Prayagh Popup Modal -->
<div
  class="modal-overlay"
  *ngIf="showPrayaghPopup"
  (click)="closePrayaghPopup()"
>
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Prayagh Nutri-Products Pvt. Ltd.</h2>
    <div class="career-info">
      <p>
        Prayagh Nutri-Products Pvt. Ltd., is a supplier and manufacturer of
        eclairs, deposit candies, deposit lollipops, hard boiled candies,
        toffees, lollipops, white and brown chocolates and wafers
      </p>
      <p>Effective handling of man, material and machine</p>
      <p>
        Plan and coordinate production engineering processes to produce high
        quality products
      </p>
      <p>
        Identification of unsafe operation and regularly reporting to manager
      </p>
      <p>Ensuring safety procedures to be followed by employees</p>
      <p>Ensuring the HACCP and FSSAI standards are being followed</p>
      <p>Preparing production data and to calculate monthly yield</p>
    </div>
    <button class="close-btn" (click)="closePrayaghPopup()">Close</button>
  </div>
</div>

<!-- AT&S Popup Modal -->
<div class="modal-overlay" *ngIf="showATSPopup" (click)="closeATSPopup()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>AT&S India Pvt. Ltd.</h2>
    <div class="career-info">
      <p>
        AT&S India Pvt. Ltd. is a manufacturer of Printed circuit boards. Some
        of their customers being Hella, Harman, Bosch, Siemens etc.
      </p>
      <p>
        Daily monitoring of chemical concentration, process live scrap analysis,
        process audit
      </p>
      <p>
        Ensure all products are delivered to next process with quality and on
        time
      </p>
      <p>Weekly yield report presentation</p>
      <p>Prepare monthly chemical consumption report</p>
      <p>Ensure daily, weekly, monthly & yearly activities are being done</p>
      <p>Introduction of new ideas and projects for improvements</p>
    </div>
    <button class="close-btn" (click)="closeATSPopup()">Close</button>
  </div>
</div>

<!-- DXC Popup Modal -->
<div class="modal-overlay" *ngIf="showDXCPopup" (click)="closeDXCPopup()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>DXC Technologies</h2>
    <div class="career-info">
      <p>
        DXC Technologies is one of the leading IT service base industry in the
        market. Some of the companies that rely for support include ConvaTec,
        Microsoft, AT&T etc.
      </p>
      <p>
        Provide first level support to businesses customers (calls, emails and
        chat)
      </p>
      <p>Ensure quality support is provided to customers</p>
      <p>Ensure daily targets are met</p>
      <p>Basic knowledge about active directory</p>
      <p>Provide BitLocker key from MBAM server whenever necessary</p>
      <p>Training new joiners and been a floor support for colleagues</p>
      <p>Worked with customers across the globe and in rotational shifts</p>
      <p>Reimage PC for new joiners to use</p>
    </div>
    <button class="close-btn" (click)="closeDXCPopup()">Close</button>
  </div>
</div>

<!-- Epicor Popup Modal -->
<div class="modal-overlay" *ngIf="showEpicorPopup" (click)="closeEpicorPopup()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Epicor Software</h2>
    <div class="career-info">
      <p>
        Epicor Software is one of the leading industries that provide ERP
        applications. Some of the companies that use the application include
        Alpha Tauri Formula1 team
      </p>
      <p>Provide application support to an add-on software named Quick Ship</p>
      <p>
        Ensure monthly and yearly targets are met (KB articles, SODVs, Learning
        and development, solved JIRA tickets)
      </p>
      <p>Trained new joiners and mentored team members</p>
      <p>
        Exposure to running and building basic to intermediate SQL queries,
        creating and restoring databases in SQL
      </p>
      <p>Reading data in XML and XSD files to troubleshoot the issue</p>
      <p>
        Closely collaborating with the development team in building and
        developing test cases to investigate, reproduce, and analyze reported
        issues
      </p>
      <p>
        Maintain concise, high-quality documentation of findings, observations,
        and recommendations for resolution
      </p>
      <p>
        Develop regression test for minor and major release versions to check
        the quality of and ensure the reported bug has been fixed
      </p>
      <p>
        Familiar with using maven repository for incorporating the best tools
        available to design and develop test cases to ensure the best results
      </p>
      <p>
        Developing end-to-end TestNG framework to test module specific
        functionalities of the software
      </p>
      <p>
        Use a robust reporting tool to record test results in a systematic
        format that helps developers to decide the best approach to solve the
        problem
      </p>
      <p>
        Developing regression test scripts using Playwright framework written in
        JavaScript and TypeScript
      </p>
      <p>
        Maintaining repository of test cases in Github and documenting the
        observations from the result of running test cases
      </p>
    </div>
    <button class="close-btn" (click)="closeEpicorPopup()">Close</button>
  </div>
</div>

<app-footer />

